# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=projekt
POSTGRES_PORT=5432

# Frontend Configuration
FRONTEND_PORT=3000
FRONTEND_API_URL=http://localhost:8080

# Backend Configuration
BACKEND_PORT=8080

# JWT Configuration
JWT_SECRET=f1b2a02fc00a55536c7b1495ed87d8e1979b761de7b4e57048000d0b91ed23f786ab23004a6f4ebaba88d22b3faa29ef2d5b3e7a0c8972ea1cff32d8f2efd7d9
JWT_EXPIRATION=86400000

# Spring profiles
SPRING_PROFILES_ACTIVE=dev
