# Backend Database Configuration
SPRING_DATASOURCE_HOST=postgres
SPRING_DATASOURCE_PORT=5432
SPRING_DATASOURCE_DATABASE=projekt
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# JWT Configuration
JWT_SECRET=f1b2a02fc00a55536c7b1495ed87d8e1979b761de7b4e57048000d0b91ed23f786ab23004a6f4ebaba88d22b3faa29ef2d5b3e7a0c8972ea1cff32d8f2efd7d9
JWT_EXPIRATION=86400000
